{% macro about() %}
 <div class="user-details">
  <h1> About me </h1>
  <p>
    DevOps Engineer with 5+ years of hands-on experience.
    Passionate for automation of the Software Development pipeline.
    Believe that DevOps is more than tools nevertheless tools are crucial.
    Making developers' life easier.

    </br>
    </br>

    Personally, I thrive in an international, collaborative environment working
    with like-minded professionals, bright and fun folks, in a fast-growing
    tech company.

    </br>
    </br>

    There are a few professional topics I am interested in, hence deepen my
    research under post-grad studies, doing keynote speeches at conferences,
    issuing publications.

    </br>
    </br>

    Privately, I enjoy good food & wine with my fiancé, our walks & trainings
    with Shiba Inu dog Yokko, playing a different kinds of boardgames with
    my friends and playing video games.
  </p>
  <div class = "user">
    <div class = "tech">
      <h2> Highlights </h2>
      <ul>
        <li> 5+ years active Linux user </li>
        <li> «Works on my machine» is the worst excuse </li>
        <li> «It depends» </li>
        <li> Everything as Code adept</li>
        <li> FOSS lover </li>
        <li> Collab with Siemens lab </li>
        <li> Collab with Huawei lab </li>
      </ul>
    </div>
    <div class = "tech">
      <h2> Languages </h2>
      <ul>
        <li> English: advanced </li>
        <li> Russian: native </li>
      </ul>
    </div>
    <div class = "tech">
      <h2> Sports </h2>
      <ul>
        <li> Snowboarding as an extreme sport </li>
        <li> Volleyball as a team sport </li>
        <li> Archery as a sport for the soul (<a href="https://worldarchery.sport/rulebook/article/17">Black badge</a>)</li>
      </ul>
    </div>
  </div>
</div>
{% endmacro about %}

{% macro education() %}
 <div class="user-details">
  <h1> Education </h1>
    <a href='https://english.spbstu.ru'>
      <img src="/img/spbstu.jpeg" class="logo"/>
    </a>
  <div class="uni">
    <div class="degree">
      <h2>Postgraduate</h2>
      <p>
      <b>Mathematics and software of computers </br> network and complexes</b><br>
        2019 - 2023 (expected)
      </p>
    </div>
    <div class="degree">
      <h2>Master</h2>
      <p>
        <b>Software development technology</b>
        </br>
        Thesis: Usage of recurrent neural networks for </br>
        code clone detection
        </br>
        2016 - 2018
      </p>
    </div>
  </div>
  <div class="uni">
    <div class="degree-centered">
      <a href='https://www.spbgasu.ru/en/'>
        <img src="/img/spbgasu.jpg" class="logo"/>
      </a>
      <h2>Bachelor</h2>
      <p>
      <b>Applied Mathematics and Computer Science</b><br>
        2012 - 2016
      </p>
    </div>
  </div>
</div>
{% endmacro education %}

{% macro experience() %}
<div class="user-details">
  <h1> Experience </h1>
</div>
<div class="user-projects">
    <a href="https://cs.money">
      <h2>
        CS.Money
        <img src="/img/cs.money.png"/>
      </h2>
    </a>
    <div class="title-date">
      <div class="title">
        <h3> Platform Team Lead </h3>
      </div>
      <div class="date">
        <h3> Jul 2021 - Now </h3>
      </div>
    </div>

    <p>

      As a lead of Platform team in CS.Money I guide my team on releasing
      deliveries aimed at simplifying developers’ life and shortening
      time-to-market.
      this is achieved by creating and maintaining transparent processes
      targeting both developers and end-users.

      </br>

      My team under my leadership has initiated and completed the migration of a
      bunch of the services from standalone machines to Kubernetes, and to fully
      managed Amazon Web Services.
      All of the resources were created with Pulumi IaC solution that allowed to
      use real programming language instead of markup language.

      </br>

      The best decision was to use Pulumi instead of Werf tool for deployment
      to k8s.
      To ease the deployment process of new services and the maintenance process
      of already deployed ones, some libraries were written.
      All of them were written in TypeScript programming language due to amount
      of code and better readability than Go language.

    </p>
</div>
<div class="user-projects">
  <h2>
    <img src="/img/huawei.png"/>
    R&D Project sponsored by Huawei
  </h2>
  <div class="title-date">
    <div class="title">
      <h3> Tech Lead </h3>
    </div>
    <div class="date">
      <h3> May 2021 - Dec 2021 </h3>
    </div>
  </div>

  <p>
    A collaborative project between huawei and Peter the Great St.Petersburg
    Polytechnic University.

    </br>

    The goal was to develop a tool that will allow a developer to minimize the
    amount of test suites without impact on coverage.
    During the project, the prototype as a PoC was developed,research of
    different test suite minimization techniques was conducted.
    Java programming language was used for everything.

    </br>

    As a result of the project, an expandable minimization engine that can
    detect redundant tests was provided.
    A wide range of existing approaches and techniques was analyzed.

  </p>
</div>
<div class="user-projects">
  <a href="https://spbpu.com">
    <h2>
      <img src="/img/spbpu.png"/>
      Industrial systems for streaming data processing
    </h2>
  </a>
  <div class="title-date">
    <div class="title">
      <h3> DevOps Team Lead </h3>
    </div>
    <div class="date">
      <h3> Feb 2018 - Jul 2021 </h3>
    </div>
  </div>
  <p>
    A research lab at Peter the Great St.Petersburg University that conducts
    original research and performs commercial developments in related fields.

    </br>

    The projects ranged from the development of an information system for
    owners, investors and residents of investment hotels to development of a
    software for behavioral strategies of mouse models analyzis.

    </br>

    A lot of projects were somehow related to artificial intelligence
    and computer vision.
    One of such projects was a software for disguised face detection on a
    video stream.
    Initially, that project was intended for banks, nevertheless, it continued
    as a research project.

  </p>
</div>
<div class="user-projects">
  <h2>
    R&D Project sponsored by Siemens
  </h2>
  <div class="title-date">
    <div class="title">
      <h3> R&D Engineer </h3>
    </div>
    <div class="date">
      <h3> Jan 2017 - Jun 2018 </h3>
    </div>
  </div>

  <p>
    A collaborative project between siemens and the Peter the Great
    St.Petersburg Polytechnic University.

    </br>

    The goal was to investigate the possibility OF using artificial neural
    networks for software clone detection process.
    This research became a topic of master thesis.
    as an outcome of the project, the prototype as a PoC was developed.

    </br>

    Two programming languages were used - Java & Python.
    Java was used for AST (Abstract Syntax Tree) extraction and preprocessing,
    while Python was used for recurrent neural network implementation
    and post-processing.

    </br>

    Also, there was a need in a lot of data for training, testing and validation.
    Thus, besides PoC, a Mutator that allowed to generate a lot of artificial
    clones was also developed.
    This Mutator could generate all syntactical clones and its output was used
    for efficiency measurement.

  </p>
  <a class="project-link" title="Disclaimer: The repo is a mess" href="https://gitlab.com/wrbbz/RNNCodeClones">Check it out</a>
</div>
<div class="user-projects">
  <h2> PolyPhone </h2>
    <div class="title-date">
      <div class="title">
        <h3> Developer </h3>
      </div>
      <div class="date">
        <h3> Jan 2017 - Mar 2018 </h3>
      </div>
    </div>

    <p>
      It's a project that started during course work in university but far too
      passionate to be restricted by it.
      Unfortunately not all members of the team were as involved as
      the software team.
      Even though this project died a horrible death, it was an
      awesome experience!
    </p>

    <p>
      The mission was to create a phone from parts that are not designed to be
      used in a phone.
      This restriction moved us away from existing android ready Chinese boards.
      <div class = "user">
        <div class = "tech">
          <h4> Hardware </h4>
          <ul>
            <li> RaspberryPi Zero W </li>
            <li> SIM808 </li>
            <li> Ready to go screen, battery, charge controllers </li>
            <li> Power and buttons controller (Digispark) </li>
            <li> Manually wired motherboard </li>
          </ul>
        </div>
        <div class = "tech">
          <h4> Software </h4>
          <ul>
            <li> Out of the tree vc4 driver </li>
            <li> Archlinux ARM </li>
            <li> Custom Window Manager </li>
            <li> Custom Boot Animation (Plymouth) </li>
            <li> Custom Suite of Phone applications (GTK at first, but Qt later) </li>
            <li> Hosted Archlinux repository to distribute updates </li>
          </ul>
        </div>
      </div>
    </p>
    <a class="project-link" title="The only thin that left is Instagram account" href="https://www.instagram.com/phone3141592/">Check it out</a>
</div>
{% endmacro experience %}

{% macro stack() %}

<div class="user-details">
  <h1> Stack </h1>
  <h3 align="center"> Development </h3>
  <div class="user">
    <div class="tech">
      <p>
        Languages:
        <ul>
          <li>Rust - supportive tooling, video processing, REST client</li>
          <li>C++ - embedded software, ML, video processing, native Linux GUI</li>
          <li>Java - microservices development, ML, R&D </li>
          <li>C - kernel modules </li>
          <li>Go - Infrastructure as Code</li>
          <li>TypeScript - Infrastructure as Code</li>
          <li>C# - Revit plugin development</li>
          <li>Python - ML stuff </li>
        </ul>
      </p>
    </div>

    <div class="tech">
      <p>
        Libraries:
        <ul>
          <li> Diesel - Safe, Extensible ORM and Query Builder for Rust </li>
          <li> Gotham - A flexible web framework </li>
          <li> Tokio - An asynchronous runtime for Rust </li>
          <li> Spring - A comprehensive programming and configuration model for Java </li>
          <li> OpenCV - A library for real-time computer vision </li>
          <li> darknet - An open-source neural network framework written in C and CUDA </li>
          <li> Keras - An open-source library for artificial neural networks </li>
          <li> Tensorflow - An open-source library for machine learning and artificial intelligence </li>
          <li> Qt - A cross-platform software for creating GUI and cross-platform applications </li>
        </ul>
      </p>
    </div>
  </div>

  <h3 align="center"> DevOps </h3>

  <div class="user">
    <div class="tech">
      <p>
        AWS:
        <ul>
          <li> RDS </li>
          <li> Route53 </li>
          <li> ElastiCache </li>
          <li> VPC </li>
          <li> EC2 </li>
          <li> EKS </li>
          <li> MKS </li>
        </ul>
      </p>
    </div>
    <div class="tech">
      <p>
        Containerisation and orchestration:
        <ul>
          <li> Docker as a containerization tool for everything (almost) </li>
          <li> nspawn as tool for containerizing some services</li>
          <li> Docker-compose for local development deployments (even with unix socket connections) </li>
          <li> Minikube, kind for local development deployments </li>
          <li> Kaniko and Werf for non-privileged Docker image creation </li>
          <li> Telepresence configuration and maintenance for developers </li>
          <li> Kubernetes as container orchestration </li>
        </ul>
      </p>
    </div>
    <div class="tech">
      <p>
        Observability:
        <ul>
          <li> Grafana </li>
          <li> Loki </li>
          <li> Prometheus </li>
          <li> Alert Manager </li>
          <li> ELK </li>
        </ul>
      </p>
    </div>
  </div>
  <div class="user">
    <div class="tech-centered">
      <p>
        Automatization:
        <ul>
          <li>Routine automation with Gitlab CI/CD and self-written stuff</li>
          <li>Fleet of Gitlab Runners of all sorts (Docker on Linux, Windows, MacOS, Kubernetes)</li>
          <li>Creation of CI/CD pipeline for tens of projects:</li>
          <ul>
            <li>Desktop and Web projects:</li>
              <ul>
                <li>Java, C, C++, C#, Rust, Go, PHP, JS</li>
              </ul>
            <li>Mobile projects:</li>
              <ul>
                <li>Swift, Flutter</li>
              </ul>
          </ul>
          <li>GitHub actions for automatization of build and deploy stages</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="user">
    <div class="tech">
      <p>
        On-premises deployment and maintenance:
        <ul>
          <li>GitLab (Omnibus, Helm)</li>
          <li>Sonatype (Helm)</li>
          <li>Zulip (Helm)</li>
          <li>HashiCorp Vault (Helm)</li>
          <li>SonarQube (Helm)</li>
          <li>Grafana (Helm)</li>
        </ul>
      </p>
    </div>
    <div class="tech">
      <p>
        Packages:
        <ul>
          <li> Helm packages for tens of projects </li>
          <li> Buildroot package </li>
          <li> snap packages </li>
          <li> Packer for machine images </li>
          <li> Paru for deb,rpm,etc. </li>
          <li> Nexus as a package storage </li>
          <li> GitLab Package Registry</li>
        </ul>
      </p>
    </div>
    <div class="tech">
      <p>
        Other stuff:
        <ul>
          <li> HashiCorp Vault as a secret storage</li>
          <li> NGINX as a reverse proxy </li>
          <li> Caddy as a reverse proxy </li>
          <li> Werf as a legacy deployment tool </li>
          <li> Pulumi as an IaC </li>
        </ul>
      </p>
    </div>
  </div>

  <h3 align="center"> Not DevOps </h3>

  <div class="user">
    <div class="tech-centered">
      <p>
        Network Management:
        <ul>
          <li>IPTables for Linux machines firewall configuration</li>
          <li>ufw for Linux users' machine firewall configuration</li>
          <li>Configuration and maintenance of dhcpd for IP assigning</li>
          <li>An experience with netplan and Network Manager as a network configurators</li>
          <li>Configuration and maintenance of Cisco Switches</li>
          <li>HP and Unifi AP management</li>
          <li>WireGuard server and client configuration and maintenance</li>
          <li>Restricting ssh jumpboxes</li>
          <li>Racks, servers, UPS and storage installation</li>
          <li>Cable management</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="user">
    <div class="tech">
      <p>
        Documentation:
        <ul>
          <li> Zola as a static site generator </li>
          <li> Confluence </li>
          <li> Markdown + Pandoc for reports and articles </li>
          <li> LaTex for article, reports and presentations </li>
        </ul>
      </p>
    </div>
    <div class="tech">
      <p>
        Task tracking:
        <ul>
          <li> Jira </li>
          <li> GitLab Issues </li>
          <li> Asana </li>
          <li> Redmine </li>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endmacro stack %}

{% macro contribution() %}
<div class="user-details">
  <h1> Contributions </h1>
  <div class = "content">
    <p>
      <ul>
        <li>
          <a href="https://github.com/dkanada/frost">Frost</a> - Android Icon pack. Just for fun;
        </li>
        <li>
          <a href="https://github.com/wrabbitaz/zmNinja">zmNinja</a> cross platform app for ZoneMinder;
        </li>
        <li>
          <a href="https://github.com/kubernetes/minikube">minikube</a> -  Local Kubernetes;
        </li>
        <li>
        <a href="https://github.com/kubernetes-sigs/kind">kind</a> - Kubernetes IN Docker - local clusters for testing Kubernetes;
        </li>
        <li>
          <a href="https://github.com/GoogleContainerTools/kaniko">Kaniko</a> - Allows to build container images wo docker service;
        </li>
        <li>
          <a href = "https://github.com/tizonia/tizonia-openmax-il">tizonia</a> - Command-line cloud music player for Linux with support for Spotify, Google Play Music, YouTube, SoundCloud, TuneIn, iHeartRadio, Plex servers and Chromecast devices;
        </li>
        <li>
          <a href = "https://github.com/pulumi/pulumi">Pulumi</a> - Universal Infrastructure as Code;
        </li>
        <li>
          <a href = "https://github.com/pulumi/pulumi-digitalocean">Pulumi. Digital Ocean provider</a> - A Digital Ocean Pulumi resource package, providing multi-language access to Digital Ocean;
        </li>
        <li>
          <a href = "https://github.com/ruzickap/packer-templates">Packer tempaltes</a> - Scripts and Templates used for generating Vagrant images;
        </li>
      </ul>
    </p>
  </div>
</div>
{% endmacro contribution %}

{% macro publications() %}
<div class="user-details">
  <h1> Publications </h1>
  <div class = "content">
    <p>
      <ul>
        <li>
          Rakova, V., Bolsunovskaya, M., Zorin, A., Fedorov, V., & Novikova, Y. (2021). Digitalisation for improving population well-being in the arctic area <a href="https://doi.org/10.1007/978-3-030-84845-3_7">DOI</a>
        </li>
        <li>
          Chernyuk, D. P., Zorin, A. G., Derevtsova, K. Z., Efimova, E. V., Prikhodko, V. A., Sysoev, Y. I., Vlasova, O. L., Bolsunovskaia, M. V., & Bezprozvanny, I. B. (2021). Automatic analysis of the "Morris water maze" behavioral test data. Zhurnal Vysshei Nervnoi Deyatelnosti Imeni I.P. Pavlova, 71(1), 126-135. <a href="https://doi.org/10.31857/S0044467721010044">DOI</a>
        </li>
        <li>
          Zorin, A., Chernyuk, D., Vlasova, O., Bolsunovskaya, M., & Bezprozvanny, I. (2020). Software for analyzing the behavioural test “Morris Water Maze”. E3S Web of Conferences, 203, 01029. <a href="https://doi.org/10.1051/e3sconf/202020301029">DOI</a>
        </li>
        <li>
          Zorin, A., & Abramov, N. (2020). Disguised Face Detection. In K. J. Kim & H.-Y. Kim (Eds.), Information Science and Applications (pp. 509–517). Springer. <a href="https://doi.org/10.1007/978-981-15-1465-4_50">DOI</a>
        </li>
        <li>
          Zorin, A., & Itsykson, V. (2018). Recurrent Neural Network for Code CloneDetection. THIRD CONFERENCE ON SOFTWARE ENGINEERING AND INFORMATION MANAGEMENT (SEIM-2018), 47–53. <a href="https://elibrary.ru/item.asp?id=35693216">Link</a>
        </li>
      </ul>
    </p>
  </div>
</div>
{% endmacro publications %}
